<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <base href="/myassets/expenses/" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="FMS Expenses" />
    <link rel="manifest" href="manifest.json" />
    <title>Expense Transactions</title>
    <script defer="defer" src="static/js/main.cc375d30.js"></script>
    <link href="static/css/main.6f0e4d2c.css" rel="stylesheet" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
